.events__background {
  width: 100%;
  height: 95%;
}

.event {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
}

.image__event__one {
  margin: 5.875rem 3.5rem 2.875rem 3.5rem;
}

.information h4 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  line-height: 1rem;
  color: var(--color-primary);
  margin-top: 7.75rem;
}

.information i {
  color: var(--color-primary);
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.information small {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.3ch;
}

.information p {
  width: 31.625rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "roboto", sans-serif;
  color: #333;
  margin-top: 2rem;
}

.btn--ticket {
  width: 246px;
  height: 3.125rem;
  cursor: pointer;
  border: 0.125rem solid var(--color-primary);
  border-radius: 5rem;
  color: #fff;
  background-color: var(--color-primary);
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s all ease;
  margin: 12.375rem 2.375rem 0 5.75rem;
}

.hr {
  width: 98%;
  background-color: #000000;
  border: 1px solid #d2d2d2;
}

.hr__four {
  width: 98%;
  background-color: #000000;
  border: 1px solid #d2d2d2;
  margin: 0 0 0 5rem;
}

.additional p {
  width: 50rem;
  font-size: 17px;
  margin: 0 -50.5rem -0.5625rem 18.75rem;
  font-family: "Roboto";
  margin-bottom: 2rem;
}
.information__address {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 9.375rem;
  margin: 9.375rem 0 0 3.125rem;
}
.information__address i {
  color: var(--color-primary);
  margin: -1.25rem 0 0 -2.5rem;
}

.information__address h5 {
  font-size: 0.9375rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.125rem;
  letter-spacing: 0.1875rem;
  color: #000000;
  margin: -0.625rem 0 0 -21rem;
}

.information__address small {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "roboto";
  line-height: 1.6875rem;
  color: #333;
  margin: -0.3rem 0.25rem 0;
}

.btn--go {
  cursor: pointer;
  padding: 12px 3.5rem;
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  color: var(--color-primary);
  background: unset;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s all ease;
  margin: -13px -171px 95px 107px;
}
