/*posição e estilo do texto small*/
.check__photos {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--color-primary);
  padding-bottom: 2rem;
}

/*posição e estilo das imagens da galeria*/
.Photobook {
  position: static;
  width: 100%;
  margin: -1rem 0 -0.25rem 0;
}
