/*inicio posição dos textos ( empresa, eventos, galeria, depoimentos e contatos) */
.hero {
  position: relative;
  height: 34.625rem;
}

.hero__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 7rem 1.875rem;
}
/*final posição dos textos ( empresa, eventos, galeria, depoimentos e contatos) */

/*estilo dos textos ( empresa, eventos, galeria, depoimentos e contatos) */
.hero__copy h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 7.5rem;
  line-height: 7.5rem;
  letter-spacing: -0.3125;
  color: var(--color-primary);
}

/*posição e estilo dos textos paragrafos ( empresa, eventos, galeria, depoimentos e contatos) */
.hero__copy p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}
