/*posição image backgroud*/
.testimonials__backgroud {
  width: 100%;
}

/*posição e estilo do texto menção small*/
.mentions {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--color-primary);
  padding-bottom: 5rem;
}

/*posição e estilo do texto depoimento h3*/
.testimonials__copy {
  margin: 4rem 0;
  margin-bottom: 5rem;
  font-size: 4.5rem;
  line-height: 0;
  letter-spacing: -0.3125;
  color: var(--color-primary);
}

/*posição e estilo do texto small*/
.testimonials__text {
  width: 36.8125;
  height: 4.6875rem;
  font-size: 0.9315rem;
  line-height: 30px;
  color: #cccccc;
  font-weight: 400;
  font-family: "Montserrat";
}

/*posição e estilo dos slides com a biblioteca slick*/
.background__hexagon {
  width: 100%;
  margin: 5rem 0 -0.25rem 0;
}

/*posição e estilo do texto h2 nome do depoente*/
.name__testimonials {
  background-color: var(--color-primary);
  text-align: center;
  letter-spacing: -0.1rem;
  line-height: 7.5rem;
  font-size: 3.125rem;
  font-weight: 700;
  color: #000000;
  margin: -19rem 0 -5rem 0;
}

/*posição e estilo do texto small da ocupação profissional do depoente*/
.occupation {
  background-color: var(--color-primary);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  line-height: 7.5rem;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  margin: 0 0 0 712px;
}

/*posição e estilo do texto small empresa do depoente*/
.enterprise__testimonials {
  font-size: 14px;
  letter-spacing: 0.1875rem;
  line-height: 7.5rem;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
}

/*posição e estilo do caractere ( “ )*/
.caractere {
  background-color: var(--color-primary);
  text-align: center;
  font-size: 5.25rem;
  letter-spacing: -3px;
  line-height: 7.5rem;
  color: #000;
  font-weight: 700;
  font-family: "Montserrat";
  margin: -3rem 0 -2rem 0;
}

/*posição e estilo do testo paragrafo do depoente*/
.slider__testimonials p {
  background-color: var(--color-primary);
  height: 5.625rem;
  width: 92.4375rem;
  color: #000;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
  margin: -3rem 0 1.375rem -6rem;
}

/*inicio posição e estilo dos dots do slide com a biblioteca slick*/
.slick-dots li button:before {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  opacity: unset;
  color: #fff;
}

.slick-dots li {
  padding: 1.25rem;
}

.slick-dots {
  background-color: var(--color-primary);
  margin: 0 0 0 0;
}
/*final posição e estilo dos dots do slide com a biblioteca slick*/
